<% if @sch_class.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= @sch_class.errors.count %> 项错误产生，无法保存内容
		</h2>
		<ul>
			<% @sch_class.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
